/********* Footer *********/

/******** Footer Top Start *******/
.footer-top {
    
}

.footer-widget {
    span {
        color: var(--footer-widget-color);
        font-size: 16px;
        font-weight: 600;
    }

    .footer-content {
        margin-top: 20px;

        li {
            margin-bottom: 12px;

            a {
                color: var(--paragraph-color);
                transition: 0.3s;

                &:hover {
                    color: var(--hero-title-color);
                }
            }
        }

        :last-child {
            margin-bottom: 0;
        }
    }
}

/******** Footer Top End *******/

/******** Footer Bottom Start *******/
.footer-bottom-bg {
    left: 0;
    top: 0;
    object-fit: cover;
    width: 100%;
    z-index: -1;
}

.footer-bottom-content {
    padding: 80px 0 40px 0;
}

.footer-bottom-copyright {
    p {
        color: $white-color;
        font-size: 16px;
        font-weight: 500;
        line-height: 26px;
        font-family: $body-font;
        a {
            color: $white-color;
            transition: 0.3s;

            &:hover {
                color: $primary-color;
            }
        }
    }
}

.footer-logo {
    gap: 10px;
}

.footer-privacy {
    gap: 6px;
    li {
        color: $white-color;
        a {
            color: $white-color;
            font-size: 16px;
            font-weight: 500;
            line-height: 26px;
            font-family: $body-font; 
        }
    }
}
/******** Footer Bottom End *******/
